dx-build-output/core/dxen
dx-build-output/core/dxrs
dx-build-output/core-addon/api/dam-plugin-google-vision
dx-build-output/core-addon/api/ringapi
dx-build-output/core-addon/content-ui
dx-build-output/core-addon/image-processor
dx-build-output/core-addon/media-library
dx-build-output/core-addon/site-manager
dx-build-output/operator/hcldx-runtime-controller
dx-build-output/core-addon/persistence/postgres
dx-build-output/core-addon/persistence/postgres-metrics-exporter
dx-build-output/core-addon/persistence/pgpool
dx-build-output/core-addon/persistence/postgresrepmgr
dx-openldap
dxclient
dx-build-output/common/haproxy
dx-build-output/common/prereqs-checker
dx-build-output/common/logging-sidecar
dx-build-output/common/license-manager
dx-build-output/core-addon/api/dam-plugin-kaltura
dx-build-output/portlet-container-liberty/hcldx-portlet-container-liberty
dx-build-output/search/dx-search-middleware
