log.files.level=debug
log.files.path=logs/runtime-controller-image

checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
offline=false

wss.url=https://saas.whitesourcesoftware.com/agent

apiKey=INSERT_API_KEY_HERE

projectName=RuntimeController
projectVersion=
projectToken=

productName=INSERT_PRODUCT_NAME_HERE
productVersion=
productToken=INSERT_PRODUCT_TOKEN_HERE

includes=**/*.jar, **/*.zip, **/*.tar.gz
excludes=**/*sources.jar **/*javadoc.jar

case.sensitive.glob=false
followSymbolicLinks=true

docker.scanImages=true
docker.includes=.*runtime-controller.*