log.files.level=debug
log.files.path=logs/dam-plugin-kaltura-image

checkPolicies=false
forceCheckAllDependencies=false
forceUpdate=false
forceUpdate.failBuildOnPolicyViolation=false
offline=false

wss.url=https://saas.whitesourcesoftware.com/agent

apiKey=INSERT_API_KEY_HERE

projectName=DAM-KALTURA-PLUIGN
projectVersion=
projectToken=

productName=INSERT_PRODUCT_NAME_HERE
productVersion=
productToken=INSERT_PRODUCT_TOKEN_HERE

includes=**/*.c **/*.cc **/*.cp **/*.cpp **/*.cxx **/*.c++ **/*.h **/*.hpp **/*.hxx **/*.js
excludes=**/*sources.jar **/*javadoc.jar

case.sensitive.glob=false
followSymbolicLinks=true

docker.scanImages=true
docker.includes=.*dam-plugin-kaltura.*