**/calico.yaml linguist-language=Kubernetes linguist-vendored=false
**/createLabelledRWOKubePV.yaml linguist-language=Kubernetes linguist-vendored=false
**/createLabelledRWXKubePV.yaml linguist-language=Kubernetes linguist-vendored=false
**/custom-ca-ingress.yaml linguist-language=Kubernetes linguist-vendored=false
**/deploy-values.yaml linguist-language=Kubernetes linguist-vendored=false
**/keycloak-dx-deploy-values.yaml linguist-language=Kubernetes linguist-vendored=false
**/metallb-config.yaml linguist-language=Kubernetes linguist-vendored=false
**/metallb.yaml linguist-language=Kubernetes linguist-vendored=false
**/nfs-provisioner-rwo-values.yaml linguist-language=Kubernetes linguist-vendored=false
**/nfs-provisioner-rwx-values.yaml linguist-language=Kubernetes linguist-vendored=false
**/nginx-ingress-dx-and-leap-route.yaml linguist-language=Kubernetes linguist-vendored=false
**/parameters.yaml linguist-language=Kubernetes linguist-vendored=false
**/people-service-kube-values.yaml linguist-language=Kubernetes linguist-vendored=false
*.bat linguist-language=CMD Batch linguist-vendored=false
*.conf linguist-language=Conf linguist-vendored=false
*.config linguist-language=Config linguist-vendored=false
*.css linguist-language=CSS linguist-vendored=false
*.drawio linguist-language=Drawio linguist-vendored=false
*.gitignore linguist-language=Git linguist-vendored=false
*.groovy linguist-language=Groovy linguist-vendored=false
*.gvy linguist-language=Gvy linguist-vendored=false
*.html linguist-language=HTML linguist-vendored=false
*.jar linguist-language=Jar linguist-vendored=false
*.job linguist-language=Job linguist-vendored=false
*.jpg linguist-language=Jpg linguist-vendored=false
*.js linguist-language=JavaScript linguist-vendored=false
*.json linguist-language=JSON linguist-vendored=false
*.ldif linguist-language=Ldif linguist-vendored=false
*.list linguist-language=List linguist-vendored=false
*.md linguist-language=Markdown linguist-vendored=false
*.nodes linguist-language=Nodes linguist-vendored=false
*.png linguist-language=Png linguist-vendored=false
*.properties linguist-language=Properties linguist-vendored=false
*.py linguist-language=Python linguist-vendored=false
*.service linguist-language=Service linguist-vendored=false
*.sh linguist-language=Bash linguist-vendored=false
*.socket linguist-language=Socket linguist-vendored=false
*.svg linguist-language=Svg linguist-vendored=false
*.template linguist-language=Template linguist-vendored=false
*.tf linguist-language=Terraform linguist-vendored=false
*.txt linguist-language=Text File linguist-vendored=false
*.war linguist-language=War linguist-vendored=false
*.xml linguist-language=Xml linguist-vendored=false
*.xslt linguist-language=Xslt linguist-vendored=false
*.yml linguist-language=YAML linguist-vendored=false
*.zip linguist-language=Zip linguist-vendored=false
docker-compose.yaml linguist-language=Docker linguist-vendored=false
docker-compose.yml linguist-language=Docker linguist-vendored=false
